%svg.flex.justify-center.items-center{:version => "1.1", :viewbox => "0 0 24 24", height: '24px', width: '24px', stroke: 'grey', 'stroke-width': '2px', fill: 'none'}
  %path{:d => "M17 2L7 12l10 10", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-miterlimit" => "10", "vector-effect" => "non-scaling-stroke"}
