%table
  %thead
    %th Who
    %th Where
    %th When
    %th
  %tbody
    - meetings.each do |meeting|
      - user = meeting.availability.user
      %tr
        %td
          %img{src: user.avatar_url}
          %br
          = user.name
        %td= meeting.availability.name
        %td= format_time(meeting.created_at)
        %td= link_to 'Go', meeting_path(meeting)
