%table
  %thead
    %th Who
    %th Where
    %th When
    %th
  %tbody
    - meetings.each do |meeting|
      %tr
        %td
          %img{src: meeting[:who].avatar_url, width: 80}
          %br
          = meeting[:who].name
        %td= meeting[:where]
        %td= format_time(meeting[:when])
        %td= link_to 'Go', meeting_path(meeting[:id])
