.flex.items-center.justify-center.flex-column
  = image_tag @meeting.availability.user.avatar_url, width: 96, height: 96, class: 'br-100'

  %h3.merryweather.mv3
    #{@meeting.availability.user.name}

  #{@meeting.availability.name}

  #{format_time(@meeting.availability.start_datetime, format: '%H:%M')}
