%h2.tc.merryweather.lh-copy
  #{current_state[:location_name]} is 👌
  %br
  What's your favourite coffee shop?

%form{action: sign_up_date_step_path, method: :get}
  .fieldset.ba.b--transparent.ph0.mh0
    .field.mt3
      %label.db.fw6.lh-copy.f6.mb2.ttu.tracked
        Location

      %ul.list.ph0{data: {places_list: true, lat: current_state[:location_latitude], lng: current_state[:location_longitude]}}

      %input{type: 'hidden', name: 'name', data: { location_name: 1 }}
      %input{type: 'hidden', name: 'address', data: { location_address: 1 }}
      %input{type: 'hidden', name: 'latitude', data: { location_latitude: 1 }}
      %input{type: 'hidden', name: 'longitude', data: { location_longitude: 1 }}
      %input{type: 'hidden', name: 'gmaps_place_id', data: { location_gmaps_place_id: 1 }}

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
