%h2.tc.merryweather
  Select a date that suits to meet

%form{action: sign_up_time_step_path, method: :get}
  .fieldset.ba.b--transparent.ph0.mh0
    .field.mt3
      %input#date.pa2.input-reset.ba.bg-transparent.w-100.b--moon-gray.br2{name: "date", type: "date", required: true}

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
