%h2.tc
  You're all set, now you just need to setp an account.

%form{action: sign_up_photo_step_path, method: :get}
  .fieldset.ba.b--transparent.ph0.mh0
    .field.mt3
      %label.db.fw6.lh-copy.f6
        Email
      %input.pa2.input-reset.ba.bg-transparent.w-100{name: "email", type: "email"}

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
