%h2.tc.merryweather.lh-copy
  You're all set, now you just need to setp an account.

= form_for :user, url: sign_up_sign_up_path do
  .fieldset.ba.b--transparent.ph0.mh0
    .field.mt3
      %label.db.fw6.lh-copy.f6.mb2.ttu.tracked
        Email
      %input.pa2.input-reset.ba.bg-transparent.w-100.b--moon-gray.br2{name: "email", type: "email", required: true}

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
