%h2.tc
  You're all set, now you just need to setp an account.

%form
  .fieldset.ba.b--transparent.ph0.mh0
    .field.mt3

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
