%h2.tc
  Who do you want to meet?

%form
  .fieldset.ba.b--transparent.ph0.mh0
    .field.mt3
      .flex.ttu
        %input#user-type-hero.dn.user-type-switch{:name => "user-type", :type => "radio"}/
        %label.outline.w-50.pv4.ph2.mr3.tc.flex.justify-center.items-center.pointer.tracked{:for => "user-type-hero"}
          Other veterans
        %input#user-type-civilian.dn.user-type-switch{:name => "user-type", :type => "radio"}/
        %label.outline.w-50.pv4.ph2.tc.flex.justify-center.items-center.pointer.tracked{:for => "user-type-civilian"}
          Non-military

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
