%h2.tc.merryweather
  Great, let's get some details.

%form{action: sign_up_email_step_path, method: :get}
  .fieldset.ba.b--transparent.ph0.mh0
    .field.mt3
      %label.db.fw6.lh-copy.f6.mb2.ttu.tracked
        First name
      %input.pa2.input-reset.ba.bg-transparent.w-100.b--moon-gray.br2{name: "first_name", type: "text", required: true}
    .field.mt3
      %label.db.fw6.lh-copy.f6.mb2.ttu.tracked
        Last name
      %input.pa2.input-reset.ba.bg-transparent.w-100.b--moon-gray.br2{name: "last_name", type: "text", required: true}

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
