%h2.tc.merryweather.lh-copy
  Let's get started

= form_for :availability, url: sign_up_create_availability_path do
  .fieldset.ba.b--transparent.ph0.mh0
    %p Same time for all dates

    .field.mt3.flex
      .w-50.mr3
        %label.db.fw6.lh-copy.f6.mb2.ttu.tracked
          Start
        %input#start-time.pa2.input-reset.ba.bg-transparent.w-100.b--moon-gray.br2{name: "start_time", type: "time", required: true}/
      .w-50
        %label.db.fw6.lh-copy.f6.mb2.ttu.tracked
          End
        %input#end-time.pa2.input-reset.ba.bg-transparent.w-100.b--moon-gray.br2{name: "end_time", type: "time", required: true}/

  %input.dn{type: 'submit', value: "Continue", id: 'form-submit'}

= render 'shared/submit_form'
