%header.tc.h3.shadow-2.ttu.mb4.flex.items-center.justify-center
  .mw6.ph3.ph5-ns.w-100.relative.flex.items-center.justify-center
    - if controller.controller_name == 'sign_up' || controller.controller_name == 'users'
      %a.absolute.left-1.ml5-ns{href: 'javascript:;', onclick: "window.history.go(-1); return false;"}
        %svg.flex.justify-center.items-center{:version => "1.1", :viewbox => "0 0 24 24", height: '24px', width: '24px', stroke: 'grey', 'stroke-width': '2px', fill: 'none'}
          %path{:d => "M17 2L7 12l10 10", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-miterlimit" => "10", "vector-effect" => "non-scaling-stroke"}
    - else
      - if user_signed_in?
        .absolute.left-1.ml5-ns.flex.items-center
          %a.flex{href: 'profile'}
            %img.br-100{ src: current_user.avatar_url, width: 40, height: 40 }

    = link_to root_path, class: 'f5 measure-wide black no-underline fw6 tracked flex header' do
      - if current_page?(root_path)
        Local hero
      - else
        = render 'shared/logo'
