- text = defined?(locals) ? locals[:text] : 'Continue'

.fixed.bottom-0.left-0.right-0.shadow-1.bg-white
  .flex.justify-center.pa3
    .mw6.w-100.ph5-ns
      %label.pointer.w-100.tc.bg-yellow.pa3.ttu.tracked.br2.db.fw6{for: 'form-submit'}
        = text
