.flex.items-center.justify-center.mv3
  = render 'shared/icons/logo'

.pt1
  %h1.tc.merryweather.lh-copy
    The meeting
    %br
    ground

.tc.gray.mb4.merryweather.lh-copy
  Have a coffee with a hero

.pt3
  %a.w-100.tc.bg-yellow.pa3.ttu.tracked.br2.db.no-underline.black.fw6.lh-solid{href: '/sign_up/type_step'}
    Get started

.tc.mt4
  %a.fw6.no-underline.black{href: '/users/sign_in'}
    Sign in
