%h1.tc.merryweather
  Have a coffee with a hero

.tc.gray.mb4.merryweather
  Meet veterans for a coffee

%a.pointer.w-100.tc.bg-yellow.pa3.ttu.tracked.br2.db.no-underline.black{href: '/sign_up/type_step'}
  Get started
