.flex.items-center.justify-center.mv3
  = render 'shared/logo'

.pt1
  %h1.tc.merryweather.lh-copy
    Have a coffee
    %br
    with a hero

.tc.gray.mb4.merryweather.lh-copy
  Meet veterans with similar interests

%a.pointer.w-100.tc.bg-yellow.pa3.ttu.tracked.br2.db.no-underline.black.fw6.lh-solid{href: '/sign_up/type_step'}
  Get started
