#local-hero .pusher-chat-widget {
  border-top: 1px solid rgba(33, 34, 36, 0.3);
  border-left: 1px solid rgba(33, 34, 36, 0.3);
  border-right: 1px solid rgba(33, 34, 36, 0.3);
  box-shadow: 0 0 8px 2px rgba(33, 34, 36, 0.15);
  border-radius: 3px 3px 0 0;
  font-family: "Proxima Nova", serif;
}

#local-hero .pusher-chat-widget-current-user-image img {
  border-radius: 100%;
}

#local-hero .pusher-chat-widget-current-user-name,
#local-hero .waiting {
  font-weight: 600;
}

#local-hero .pusher-chat-widget-input {
  padding-right: 8px;
  padding-top: 8px;
}

#local-hero .pusher-chat-widget-input textarea {
  margin-bottom: 6px;
  width: 100%;
}

#local-hero .pusher-chat-widget-send-btn {
  background-color: gold;
  color: black;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  width: 100%;
  border: 0;
  text-align: center;
  text-transform: uppercase;
}
